@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-spartan;
}

.header {
  background-image: url("../src/images/bg-header-mobile.svg");
  background-size: auto 100%;
}
@media (min-width: 768px) {
  .header {
    background-image: url("./images/bg-header-desktop.svg");
  }
}
.border-divider {
  @apply w-full;
  height: 1px;
  background-color: #bfc2c1;
}
